conf/systemconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="system-configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="enovia-filter" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="trigger" maxOccurs="1">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string" />
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
